@import '../../Asset/Styles/Colors.scss';
.portfolio{
    width: 100%;
    background-color:$back-ground;
    padding: 5px;
    text-align: center;
    .project-text{
        font-size: 30px;
        font-weight:bold;
    }
    &-main{
        margin-top: 30px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .project{
        background-color: white;
        border-radius: 5px;
        height: 12rem;
        width: 18rem;
        margin-bottom: 10px;
        margin-right: 20px;
        cursor: pointer;
        .project-Image{
        border-radius: 5px;
        margin: 1px;
        width: 17.9rem;
        height: 10rem;
        }
    }
    .project:hover{
        transform: scale(1.1,1.1);
        transition: .3s transform;
    }
    
    
}